NEXT_PUBLIC_APP_NAME=PUNTER PREDICTION
NEXT_PUBLIC_APP_URL=https://punterprediction.com
NEXT_PUBLIC_API_URL=https://api.punterprediction.com/api/v1
NEXT_PUBLIC_ENABLE_PWA=true
NEXT_PUBLIC_ENABLE_ANALYTICS=false
